#prince{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1d/Khodaldham.jpg");
    background-position: right;
    height: 1000px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-attachment: fixed;
}
h1{
    position: absolute;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
}
